[Desktop Entry]
Categories=AudioVideo
Comment=Fast And Powerful IPTV App
Exec=tvcon
Icon=de.tvcon.app
Keywords=tv;tvcon;
Name=TVCon
StartupWMClass=tvcon
Terminal=false
Type=Application
