[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec=env WEBKIT_DISABLE_DMABUF_RENDERER=1 tvcon
Icon={{icon}}
Keywords=tv;tvcon;
Name={{name}}
StartupWMClass=tvcon
Terminal=false
Type=Application
